.footer-info {
  display: flex;
  justify-content: space-between;
  background-color: #0e72ae;

  flex-wrap: wrap;
  font-size: 13px;
  margin: auto;
}

.footer-column {
  flex: 1;
  min-width: 180px;
  margin: 3rem;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column span {
  margin-bottom: 6px;
  color: #f8f8f8;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.footer-column span:hover {
  color: black;
}

span {
  color: #555;
}

@media screen and (max-width: 768px) {
  .footer-info {
    display: flex;
    flex-flow: row wrap;
  }
}
