.footer-info {
  display: flex;
  justify-content: space-between;
  background-color: #0e72ae;
  flex-flow: row nowrap;
  font-size: 13px;
  margin: auto;
}

.footer-column {
  display: flex;
  flex-flow: column nowrap;
  min-width: 180px;
  margin: 3rem;
}

.footer-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer-column span {
  margin-bottom: 6px;
  color: #f8f8f8;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.footer-column span:hover {
  color: black;
}

span {
  color: #555;
}

h4 {
  text-align: center;
}

ul > li {
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  .footer-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .footer-column {
    width: 100%;
  }

  li {
    margin: 0.5rem;
  }
}
