.header {
  width: 100%;
  background-color: #0e72ae;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}

.header-nav {
  width: 100%;
  max-width: 1400px;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  display: inline-block;
}

.header-menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.header-menu li a:hover {
  color: #ff6600;
}

/* Apenas o link Catálogo aparece no mobile */
@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
}
