.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); /* Ajuste para evitar sobreposição com o Navbar */
    background-color: #282c34;
    color: white;
    text-align: center; /* Garante alinhamento do texto */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}
