.registration-form {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
    gap: 0.5rem;
}

P {
    color: black;
}

img {
    width: 200px;
    height: 200px;
}