label {
  color: black;
}

h4 {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.type-form {
  display: flex;
  flex-flow: row wrap;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.filter-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 1rem;
}

.filter-group-colors {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 1rem;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: start;
  }
  .sidebar > div > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }

  .button-title {
    font-size: 1rem;
    margin: auto;
  }

  .filter-group {
    margin-top: 0.5rem;
  }
}
