label {
  color: black;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.display-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.button-title {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.filter-group-colors {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}

.list-left {
  align-items: flex-start;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hidden {
  display: none !important;
}

.hidden-filter-button {
  display: none !important;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    padding: 15px;
  }

  .filter-group-colors {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .filter-group-colors {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .radio-container {
    flex: 0 0 auto;
  }
  
  .hidden-filter-button {
    display: block !important;
    justify-self: center;
    max-width: 50%;
  }

}
