
.nav-admin-container {
    background-color: black;
    width: 100%;
    max-height: 200px;    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 1rem 0.5rem;
}

.login-logout-container {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.login-logout-container > li {
    display: inline;
    text-decoration: none;
    margin: 1.5rem;

    
    
}
.nav-link {
    color: white;
}