.registration-form {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
}

P {
    color: black;
    font-size: 1rem;
}

img {
    width: 210px;
    height: 200px;
}


.input-div {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

select {
    width: 50%;
}
