.registration-form-container {
    color: black;
    text-align: center;
    background-color: white;
}


.registration-form {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem 0rem 1rem 0rem;
}

P {
    color: black;
}

img {
    width: 200px;
    height: 200px;
}

label, input {
    width: 200px;
}

